.heading {
    text-align: right;
}
.openinfo{
    text-align: center;
}
.info {
    display: none;
}
.visible {
    background-color: aliceblue;
    font-size: large;
}
.inforightbar {
    width: 20%;
    position: relative;
    right: 2%;
}
.infosidebar {
    position: relative;
    width: 20%;
    left: 10%
}

.body {
    display: flex;
    transform: scale(0.8)
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
    position: relative;
    left: 2.5%

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 3px;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    padding: 3px;
    background-color: black;
}

.cell {
    background-color: white;
}
.pone {
    color: red;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ptwo {
    color: blue;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ptwo:hover {
    color: rgba(0, 0, 255, 0.5);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pone:hover {
    color: rgba(255, 0, 0, 0.5);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
