body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  transform: scale(0.9);
}
.container {
    
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.dir {
    text-align: center;
}
.openinfo{
    text-align: center;
}
.info {
    display: none;
}
.visible {
    background-color: aliceblue;
    font-size: large;
}
.inforightbar {
    
    width: 15vw;
    height: 80vh;

}
.infosidebar {
   
    width: 15vw;
    height: 80vh;

}


.board {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    width: 60vw;
    height: 80vh;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 3px;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    padding: 3px;
    background-color: black;
}

.cell {
    background-color: white;
}
.pone {
    color: red;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ptwo {
    color: blue;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ptwo:hover {
    color: rgba(0, 0, 255, 0.5);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pone:hover {
    color: rgba(255, 0, 0, 0.5);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
